In [29]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ashok kumar l\anaconda3\lib\site-packages (9.0.0)

In [30]:
#importing Libraries
import pandas as pd
import mysql.connector
import numpy as np

In [31]:
final_df = pd.read_csv("redbus.csv")
final_df

,Route_name,Route_link,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings
0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kozhikode to Bangalore,https://www.redbus.in/bus-tickets/kozhikode-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kozhikode to Ernakulam,https://www.redbus.in/bus-tickets/kozhikode-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ernakulam to Kozhikode,https://www.redbus.in/bus-tickets/ernakulam-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bangalore to Kannur,https://www.redbus.in/bus-tickets/bangalore-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
319,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Express Line,Volvo 9600 Multi Axle Semi-Sleeper (2+2),15:30,19:40,04h 10m,INR 524,51 Seats available,4.7\n49
320,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Express Line (Karunamoyee),Volvo 9600 A/C Semi Sleeper (2+2),15:45,20:45,05h 00m,INR 524,38 Seats available,4.7\n150
321,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,SHYAMOLI Pvt. Ltd.(Karunamoyee),Scania Multi-Axle AC Semi Sleeper (2+2),16:00,21:00,05h 00m,INR 524,40 Seats available,4.2\n119
322,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Greenline,Volvo 9600 Multi Axle Semi-Sleeper (2+2),16:00,20:00,04h 00m,INR 524,41 Seats available,4.3\n50
323,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),16:40,21:40,05h 00m,INR 524,29 Seats available,4.0\n62

In [32]:

df_buses_1=pd.read_csv("redbus kerala.csv")
df_buses_2=pd.read_csv("redbus Andhra.csv")
df_buses_3=pd.read_csv("redbus Telugana.csv")
df_buses_4=pd.read_csv("redbus PUNJAB.csv")
df_buses_5=pd.read_csv("redbus RAJASTHAN.csv")
df_buses_6=pd.read_csv("redbus SOUTHBENGAL.csv")
df_buses_7=pd.read_csv("redbus HARYANA.csv")
df_buses_8=pd.read_csv("redbus ASSAM.csv")
df_buses_9=pd.read_csv("redbus UP.csv")
df_buses_10=pd.read_csv("redbus westbengal.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,A1 Travels,A/C Seater / Sleeper (2+1),20:05,23:59,03h 54m,INR 900,1 Seat available,3.4\n89,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Ernakulam
1,A1 Travels,NON A/C Semi Sleeper (2+2),21:00,01:30,04h 30m,INR 700,9 Seats available,4.1\n33,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Ernakulam
2,A1 Travels,Bharat Benz A/C Semi Sleeper (2+2),22:00,02:30,04h 30m,INR 800,38 Seats available,3.5,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Ernakulam
3,A1 Travels,Bharat Benz A/C Seater /Sleeper (2+1),22:30,01:29,02h 59m,INR 900,2 Seats available,3.2\n28,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Ernakulam
4,Sonia Travels,A/C Semi Sleeper (2+2),23:00,03:00,04h 00m,INR 800,14 Seats available,4.2\n20,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Ernakulam
...,...,...,...,...,...,...,...,...,...,...
1640,Express Line,Volvo 9600 Multi Axle Semi-Sleeper (2+2),15:30,19:40,04h 10m,INR 524,51 Seats available,4.7\n49,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
1641,Express Line (Karunamoyee),Volvo 9600 A/C Semi Sleeper (2+2),15:45,20:45,05h 00m,INR 524,38 Seats available,4.7\n150,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
1642,SHYAMOLI Pvt. Ltd.(Karunamoyee),Scania Multi-Axle AC Semi Sleeper (2+2),16:00,21:00,05h 00m,INR 524,40 Seats available,4.2\n119,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
1643,Greenline,Volvo 9600 Multi Axle Semi-Sleeper (2+2),16:00,20:00,04h 00m,INR 524,41 Seats available,4.3\n50,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
1644,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),16:40,21:40,05h 00m,INR 524,29 Seats available,4.0\n62,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

In [33]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_name       324 non-null    object
 1   Route_link       324 non-null    object
 2   Bus_name         97 non-null     object
 3   Bus_type         97 non-null     object
 4   Start_time       97 non-null     object
 5   End_time         97 non-null     object
 6   Total_duration   97 non-null     object
 7   Price            97 non-null     object
 8   Seats_Available  97 non-null     object
 9   Ratings          97 non-null     object
dtypes: object(10)
memory usage: 25.4+ KB

In [34]:
Final_df["Price"] = Final_df["Price"].str.replace("INR", "").str.strip()
Final_df["Price"] = pd.to_numeric(Final_df["Price"], errors='coerce')
Final_df["Price"].fillna(0)

0       900.0
1       700.0
2       800.0
3       900.0
4       800.0
        ...
1640    524.0
1641    524.0
1642    524.0
1643    524.0
1644    524.0
Name: Price, Length: 1645, dtype: float64

In [35]:
Final_df["Ratings"] = Final_df["Ratings"].astype(str)
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"] = Final_df["Ratings"].fillna(0)

In [36]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_name       324 non-null    object
 1   Route_link       324 non-null    object
 2   Bus_name         97 non-null     object
 3   Bus_type         97 non-null     object
 4   Start_time       97 non-null     object
 5   End_time         97 non-null     object
 6   Total_duration   97 non-null     object
 7   Price            97 non-null     object
 8   Seats_Available  97 non-null     object
 9   Ratings          97 non-null     object
dtypes: object(10)
memory usage: 25.4+ KB

In [37]:
Final_df = Final_df.replace({np.nan: None})
final_df

,Route_name,Route_link,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings
0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kozhikode to Bangalore,https://www.redbus.in/bus-tickets/kozhikode-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kozhikode to Ernakulam,https://www.redbus.in/bus-tickets/kozhikode-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ernakulam to Kozhikode,https://www.redbus.in/bus-tickets/ernakulam-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bangalore to Kannur,https://www.redbus.in/bus-tickets/bangalore-to...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
319,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Express Line,Volvo 9600 Multi Axle Semi-Sleeper (2+2),15:30,19:40,04h 10m,INR 524,51 Seats available,4.7\n49
320,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Express Line (Karunamoyee),Volvo 9600 A/C Semi Sleeper (2+2),15:45,20:45,05h 00m,INR 524,38 Seats available,4.7\n150
321,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,SHYAMOLI Pvt. Ltd.(Karunamoyee),Scania Multi-Axle AC Semi Sleeper (2+2),16:00,21:00,05h 00m,INR 524,40 Seats available,4.2\n119
322,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Greenline,Volvo 9600 Multi Axle Semi-Sleeper (2+2),16:00,20:00,04h 00m,INR 524,41 Seats available,4.3\n50
323,Kolkata to Asansol (West Bengal),https://www.redbus.in/bus-tickets/kolkata-to-a...,Shyamoli Paribahan Pvt Ltd,Volvo A/C Seater (2+2),16:40,21:40,05h 00m,INR 524,29 Seats available,4.0\n62

In [38]:
final_df.to_csv("C:/Users/ASHOK KUMAR L/Desktop/REDBUS_DETAILS.csv",index=False)

In [39]:
import mysql.connector

conn = mysql.connector.connect(host="localhost", user="root",password="934497x2", database="REDBUS_DETAILS" )
my_cursor = conn.cursor()
my_cursor.execute('''
    CREATE TABLE IF NOT EXISTS bus_details(
        ID INT AUTO_INCREMENT PRIMARY KEY,
        Bus_name VARCHAR(255) NOT NULL,
        Bus_type VARCHAR(255) NOT NULL,
        Start_time VARCHAR(255) NOT NULL,
        End_time VARCHAR(255) NOT NULL,
        Total_duration VARCHAR(255) NOT NULL,
        Price FLOAT NULL,
        Seats_Available VARCHAR(255) NOT NULL,
        Ratings FLOAT NULL,
        Route_link VARCHAR(255) NULL,
        Route_name VARCHAR(255) NULL
    )
''')
conn.commit()
print("Table Created successfully!")

Table Created successfully!

In [40]:
import numpy as np

insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
Final_df['Bus_name'] = Final_df['Bus_name'].fillna('Unknown Bus')
Final_df['Bus_type'] = Final_df['Bus_type'].fillna('Unknown Type')
Final_df['Start_time'] = Final_df['Start_time'].fillna('Unknown values')
Final_df['End_time'] = Final_df['End_time'].fillna('Unknown values')
Final_df['Total_duration'] = Final_df['Total_duration'].fillna('Unknown values')
Final_df['Price'] = pd.to_numeric(Final_df['Price'], errors='coerce').fillna(0)
Final_df['Seats_Available'] = pd.to_numeric(Final_df['Seats_Available'], errors='coerce').fillna(0)
Final_df['Ratings'] = pd.to_numeric(Final_df['Ratings'], errors='coerce').fillna(0)
Final_df = Final_df.replace({np.nan: None})
data = Final_df.values.tolist()
my_cursor.executemany(insert_query, data)
conn.commit()

print("Values inserted successfully")

Values inserted successfully

In [43]:
import sqlalchemy
import pandas as pd
import streamlit as st

# Replace with your actual database credentials
username = 'root'
password = '934497x2'
host = 'localhost'
database = 'REDBUS_DETAILS'

# Create an SQLAlchemy engine
engine = sqlalchemy.create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

# Load data from MySQL using SQLAlchemy
def load_data():
    query = "SELECT * FROM bus_details"
    return pd.read_sql(query, engine)

# Load data
data = load_data()

# Streamlit app layout
st.title("Redbus Data Visualization")

# Filters
st.sidebar.header("Filters")
bus_type = st.sidebar.selectbox("Select Bus Type", options=["All"] + data['Bus_type'].unique().tolist())
route_name = st.sidebar.selectbox("Select Route", options=["All"] + data['Route_name'].unique().tolist())

# Filter data based on user input
if bus_type != "All":
    data = data[data['Bus_type'] == bus_type]
if route_name != "All":
    data = data[data['Route_name'] == route_name]

# Display the filtered data
st.write("### Filtered Bus Data")
st.dataframe(data)

# Optionally, display some statistics
st.write("### Statistics")
st.write(f"Total Buses Available: {len(data)}")
st.write(f"Average Price: {data['Price'].mean() if not data.empty else 0:.2f}")

In [42]:
!pip install pandas streamlit SQLAlchemy pymysql

Requirement already satisfied: pandas in c:\users\ashok kumar l\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: streamlit in c:\users\ashok kumar l\anaconda3\lib\site-packages (1.32.0)
Requirement already satisfied: SQLAlchemy in c:\users\ashok kumar l\anaconda3\lib\site-packages (2.0.30)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashok kumar l\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: altair<6,>=4.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (23.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (10.3.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (14.0.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (2.32.2)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (13.3.5)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (3.1.37)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\ashok kumar l\appdata\roaming\python\python312\site-packages (from streamlit) (6.4.1)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from streamlit) (4.0.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Requirement already satisfied: jinja2 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.19.2)
Requirement already satisfied: toolz in c:\users\ashok kumar l\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\ashok kumar l\appdata\roaming\python\python312\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: six>=1.5 in c:\users\ashok kumar l\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.7.4)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\ashok kumar l\appdata\roaming\python\python312\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\ashok kumar l\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 325.1 kB/s eta 0:00:01
   --------------------------- ------------ 30.7/45.0 kB 325.1 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 163.4 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 158.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [45]:
import sqlalchemy
import pandas as pd
import streamlit as st

username = 'root'
password = '934497x2'
host = 'localhost'
database = 'REDBUS_DETAILS'

engine = sqlalchemy.create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

def load_data():
    query = "SELECT * FROM bus_details"
    return pd.read_sql(query, engine)

data = load_data()
st.title("Redbus Data Visualization")
st.sidebar.header("Filters")
bus_type = st.sidebar.selectbox("Select Bus Type", options=["All"] + data['Bus_type'].unique().tolist())
route_name = st.sidebar.selectbox("Select Route", options=["All"] + data['Route_name'].unique().tolist())


if bus_type != "All":
    data = data[data['Bus_type'] == bus_type]
if route_name != "All":
    data = data[data['Route_name'] == route_name]

st.write("### Filtered Bus Data")
st.dataframe(data)


st.write("### Statistics")
st.write(f"Total Buses Available: {len(data)}")
st.write(f"Average Price: {data['Price'].mean() if not data.empty else 0:.2f}")